{% extends './Plantilla.html' %}

{% block contenido_vista %}

{% if usuarios%}
	
	<table>
		<thead>
			<tr>Usuarios</tr>
			<tr>Accion</tr>
		</thead>
		<tr>
			<td>Id</td>
			<td>Nombre</td>
			<td>Correo</td>
			<td>Centro</td>
		</tr>	
	{% for u in usuarios %}
	<tr>
		<td>{{ u.usuario_id }}</td> 
		<td> {{ u.nombre }} </td>
		<td> {{ u.correo }} </td>
		<td> {{ u.centro.centro_id }} </td>
		<td> <a href="{% url 'usuario-edit' u.usuario_id %}">Editar</a> 
			|
			 <a href="{% url 'usuario-delete' u.usuario_id %}">Borrar</a> 
		</td>
		</tr>

	</tr>
	{% endfor %}
	</table>
{% else %}
	No hay usuarios en el sistema.
{% endif %}

{% endblock %}
