{% extends "Plantilla.html" %}

{% block op_barra %}
	<li class="active">
		<a href="#"><i class="icon-home"></i> Principal</a>
	</li>
	<li>
		<a href="LlenarProp_Prof.html"><i class="icon-pencil" id="Crear"></i> Editar Propuesta</a>
	</li>
	<li>
		<a href="Perfil_Prof.html"><i class="icon-user"></i> Información de perfil</a>
	</li>
{% endblock %}

{% block contenido_vista %}
	<div class="container">
		<table class="table">
			<tbody>
				<tr>
					<td>
						Materia
					</td>
					<td>
						Horario
					</td>
				</tr>
			</tbody>
		</table>
		<button type="submit" class="btn btn-warning">
			Enviar Propuesta
		</button>
		<br>
		<br>
	</div>
{% endblock %}
		

