{% extends 'Plantilla.html' %}
{% load staticfiles %}

{% block rol%}
  {% if rol == "p" %}
    Profesor(a)
  {% elif rol == "cc" %}
    Coordinador(a)
  {% elif rol == "jdd" %}
    Jefe(a) de Departamento
  {%endif%}
{% endblock %}

{% block nombre %}{{usuario}}{% endblock %}

{% block centro %}{{centro}}{% endblock %}

{% block lista_roles %}
  {% if rol == "p" %}
    <a href="/profilecc">Coordinador(a)</a>
    <a href="/profilejdd">Jefe(a) de Departamento</a>
  {%endif%}
  {% if rol == "cc" %}
    <a href="/profile">Profesor(a)</a>
    <a href="/profilejdd">Jefe(a) de Departamento</a>
  {%endif%}
  {% if rol == "jdd" %}
    <a href="/profile">Profesor(a)</a>
    <a href="/profilecc">Coordinador(a)</a>
  {%endif%}
{% endblock %}

{% block op_barra %}
  {% if rol == "p" %}
    <li> <a href="/profile"><i class="icon-home"></i> Principal</a> </li>
    <li> <a href="/editarperfil/p/{{pk}}"><i class="icon-edit"></i>&nbsp;Editar Perfil</a> </li>
    <li class="active"> <a href="/cambiarContrasena/p/{{pk}}"><i class=" icon-repeat"></i> Cambiar Contraseña</a> </li>
  {%endif%}
  {% if rol == "cc" %}
    <li> <a href="/profilecc"><i class="icon-home"></i> Principal</a> </li>
    <li> <a href="/editarperfil/cc/{{pk}}"><i class="icon-edit"></i>Editar perfil</a> </li>
    <li> <a href="/horario/cc"><i class="icon-calendar"></i> Horario de Solicitudes</a> </li>
    <li class="active"> <a href="/cambiarContrasena/cc/{{pk}}"><i class=" icon-repeat"></i> Cambiar Contraseña</a> </li>
  {%endif%}
  {% if rol == "jdd" %}
    <li> <a href="/profilejdd"><i class="icon-home"></i> Principal</a> </li>
    <li> <a href="/editarperfil/jdd/{{pk}}"><i class="icon-edit"></i>&nbsp;Editar Perfil</a> </li>
    <li> <a href="/horario/jdd"><i class="icon-calendar"></i>&nbsp;Horario de Solicitudes</a> </li>
    <li> <a href="/export"><i class="icon-download-alt"></i>&nbsp;Exportar Planificacion</a> </li>
    <li class="active"> <a href="/cambiarContrasena/jdd/{{pk}}"><i class=" icon-repeat"></i> Cambiar Contraseña</a> </li>
  {%endif%}
{% endblock %}

{% block contenido_vista %}

  <form action="/cambiarContrasena/{{rol}}/{{pk}}" method="POST"> {% csrf_token %}
    <div class="control-group">
      {{form.as_p}} 
      </br>
      {% if rol == "p" %}
        <a button="" id="cancelEdit" type="" class="btn" href="/profile" >Cancelar</a> 
      {%endif%}
      {% if rol == "cc" %}
        <a button="" id="cancelEdit" type="" class="btn" href="/profilecc" >Cancelar</a> 
      {%endif%}
      {% if rol == "jdd" %}
        <a button="" id="cancelEdit" type="" class="btn" href="/profilejdd" >Cancelar</a> 
      {%endif%}

      <input class="btn btn-primary" type="submit" value="Guardar Cambios" />

    </div>
  </form>
  {% if error %}
    <div class="alert alert-error">
      <h4>¡Error!</h4>
      {{error}}
    </div>
  {% endif %}

{% endblock %}