{% extends "Plantilla.html" %}
{% load staticfiles %}

{% block rol%}Coordinador(a){% endblock %}

{% block nombre %}{{usuario}}{% endblock %}

{% block centro %}{{centro}}{% endblock %}

{% block lista_roles %}
<a href="/profile">Profesor(a)</a>
<a href="/profilejdd">Jefe(a) de Departamento</a>
{% endblock %}
 
{% block op_barra %}
<li class="active">
  <a href="/profilecc"><i class="icon-home"></i> Principal</a>
</li>
<li>
  <a href="/editarperfil/cc/{{pk}}"><i class="icon-edit"></i>Editar perfil</a>
</li>
<li>
  <a href="/horario/cc"><i class="icon-calendar"></i> Horario de Solicitudes</a>
</li>
<li>
    <a href="/cambiarContrasena/cc/{{pk}}"><i class=" icon-repeat"></i> Cambiar Contraseña</a>
</li>
{% endblock %}
  
{% block contenido_vista %}
<link rel="stylesheet" href="{% static "css/accordion.css" %}" type="text/css" /> 
                  <table class="table table-hover" id="propuestam">
                    <thead>
                      <tr>
                        <th>
                          Listado de Profesores del {{centro}}
                          <div class="pull-right custom-align">
                            <input type="checkbox" name="Check" onclick="toggle(this)" value="none">
                            <b> Todos</b>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    
                    <tbody>
                    {% for u in usrlist %}   
                      <tr>
                        <td>
                          <label class="checkbox">
                            <input type="checkbox" name="Check" value="{{u.id}}">
                            <a data-toggle="modal" href="#modalPerfil">
                            {{u.usuario_id__first_name}} {{u.usuario_id__last_name}}
                            </a>
                          </label>
                        </td>
                      </tr> 
                      {% endfor %}                    
                    </tbody>
                  </table>


                  <button onclick="isAnyCheckSelected()" class="btn btn-primary" type="button"
                  style="float:right;">
                    <i class="icon-envelope icon-white"></i>
                    Contactar Seleccionados
                  </button>    

    <div id="modalPerfil" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3>
          Información de Perfil
        </h3>
      </div>
      <div class="modal-body">
        <h5>
          Cedula:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Nombre:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Apellido:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Correo electronico:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Telefono Celular:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Telefono Oficina:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Telefono Casa:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Fecha ingreso:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Direccion:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Tipo contrato:
        </h5>
        <p>
          Datos
        </p>
        <h5>
          Dedicacion:
        </h5>
        <p>
          Datos
        </p>
      </div>
    </div>
    <!--Modal perfil-->

    <!--Modal Contactar-->
    <div id="modalContacto" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3>
          Contactar
        </h3>
      </div>
      <div class="modal-body">
        <div id="destinatarios">
          <p>
            <b>Para</b>
          </p>
          <input type="text" id="to">
        </div>
        <hr>
        <div id="asunto">
          <p>
            <b>Asunto</b>
          </p>
          <input type="text" id="matter">
        </div>
        <hr>
        <div id="contenido">
          <textarea style="width:90%;heigth:90%;" id="content"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button class="btn btn-success" type="button">
          Enviar
        </button>
      </div>
    </div>
    <!--Modal Contactar-->

{%endblock%}

{% block scripts %}
<script src="{% static "js/toggle_email_scripts.js"%}"></script>
{% endblock %}

