{% extends "Plantilla.html" %}
{% load staticfiles %}

{% block rol%}Coordinador(a){% endblock %}

{% block nombre %}{{usuario}}{% endblock %}

{% block centro %}{{centro}}{% endblock %}

{% block lista_roles %}
<a href="/profile">Profesor(a)</a>
<a href="/profilejdd">Jefe(a) de Departamento</a>
{% endblock %}
 
{% block op_barra %}
<li class="active">
  <a href="/profilecc"><i class="icon-home"></i> Principal</a>
</li>
<li>
  <a href="/editarperfil/cc/{{pk}}"><i class="icon-edit"></i>Editar perfil</a>
</li>
<li>
  <a href="/horario/cc"><i class="icon-calendar"></i> Horario de Solicitudes</a>
</li>
<li>
    <a href="/cambiarContrasena/cc/{{pk}}"><i class=" icon-repeat"></i> Cambiar Contraseña</a>
</li>
{% endblock %}
  
{% block contenido_vista %}
<link rel="stylesheet" href="{% static "css/accordion.css" %}" type="text/css" /> 
                  <table class="table table-hover" id="propuestam">
                    <thead>
                      <tr>
                        <th>
                          Listado de Profesores del {{centro}}
                          <div class="pull-right custom-align">
                            <input type="checkbox" name="Check" onclick="toggle(this)" value="none">
                            <b> Todos</b>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    
                    <tbody>
                    {% for u in usrlist %}   
                      <tr>
                        <td>
                          <label class="checkbox">
                            <input type="checkbox" name="Check" value="{{u.id}}"
                            onclick = "untoggleAllCheck(this)">
                            <a data-toggle="modal" onclick="getSelectedProfile({{u.id}})">
                            {{u.usuario_id__first_name}} {{u.usuario_id__last_name}}
                            </a>
                          </input>
                          </label>
                        </td>
                      </tr> 
                      {% endfor %}                    
                    </tbody>
                  </table>


                  <button onclick="isAnyCheckSelected()" class="btn btn-primary" type="button"
                  style="float:right;">
                    <i class="icon-envelope icon-white"></i>
                    Contactar Seleccionados
                  </button>  
{%endblock%}

{% block scripts %}
<script src="{% static "js/toggle_email_scripts.js"%}"></script>
{% endblock %}

