{% extends "Plantilla.html" %}
{% load staticfiles %}

{% block rol%}Profesor(a):{% endblock %}

{% block nombre %}{{usuario}}{% endblock %}

{% block centro %}{{centro}}{% endblock %}

{% block lista_roles %}
<a href="/profilecc">Coordinador(a)</a>
<a href="/profilejdd">Jefe(a) de Departamento</a>
{% endblock %}

{% block op_barra %}
<li class="active">
    <a href="/profile"><i class="icon-home"></i> Principal</a>
</li>
<li>
    <a href="/profile/editar"><i class="icon-user"></i> Información de perfil</a>
</li>
{% endblock %}

{% block contenido_vista %}
<div class="container">
    <div class="span9">
        <h3>Editar horario solicitado</h3>
        <h4>{{nombre_mat}}</h4>
        <form id="editarMat" method="POST">{% csrf_token %}
            {{form}}
        </form>
        <a button="" id="cancelar_em" class="btn" href="/profile" >Cancelar</a>
        <input id="enviar_em" form="editarMat" class="btn btn-primary" type="submit" value="Guardar materia" />
    </div>
    <div class="span9">
        <br>
        {% if info %}
        <div class="alert alert-success" style="width:70%" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{info}}
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-error" style="width:70%" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{error}}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/script_profesor.js" %}">
</script>
{% endblock %}