{% extends "Plantilla.html" %}
{% load staticfiles %}

{% block rol%}
{% if rol == 'jdd' %}
Jefe(a) de Departamento:
{% endif%}
{% if rol == 'cc' %}
Coodinador(a):
{% endif%}
{% endblock %}

{% block nombre %}{{usuario}}{% endblock %}

{% block centro %}{{centro}}{% endblock %}

{% block lista_roles %}
{% if rol == 'cc' %}
<a href="/profile">Profesor(a)</a>
<a href="/profilejdd">Jefe(a) de Departamento</a>
{% endif%}

{% if rol == 'jdd' %}
<a href="/profile">Profesor(a)</a>
<a href="/profilecc">Coodinador(a)</a>
{% endif%}
{% endblock %}

{% block contenido_vista %}
<link href="{% static "css/horario.css" %}" rel="stylesheet">
<link href="{% static "css/showLoading.css" %}" rel="stylesheet">
<link href="{% static "css/nanoscroller.css" %}" rel="stylesheet"> 

<div id="schedule">

<table class="horario table" id="tablaHorario">
		<!--<caption> -->
			<!--<b>Listado de Materias</b> -->
		<!--</caption> -->
		<thead>
			<tr>
				<th>Horario</th>
				<th>Lunes</th>
				<th>Martes</th>
				<th>Mi&eacute;rcoles</th>
				<th>Jueves</th>
				<th>Viernes</th>
			</tr>
		</thead>
		<tbody>
			{% for hora in listaHorarios %}
			<tr>
			  <td>{{ hora }}:00 - {{ hora }}:59</td>
			  <td id="lunes{{ hora }}"></td>
			  <td id="martes{{ hora }}"></td>
			  <td id="miercoles{{ hora }}"></td>
			  <td id="jueves{{ hora }}"></td>
			  <td id="viernes{{ hora }}"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="profesoresDiv">
<h4>Profesores</h4>
	<div id="about" class="nano">
		<div class="content" > 
			<table class="profesores table-hover" id="tablaProfesores">
				<tbody>
					<tr>
						<td>Naruto Uzumaki</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Sasuke Uchiha</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Roronoa Zoro</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Roronoa Zoro</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Roronoa Zoro</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Roronoa Zoro</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Roronoa Zoro</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Roronoa Zoro</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Roronoa Zoro</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Roronoa Zoro</td>
						<td style="width:100px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-remove" id="modificarMateria"></i>
							</button>
							<button id="modificarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-ok" id="modificarMateria"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="materiasDiv">
<h4>Materias</h4>
	<div id="about" class="nano">
		<div class="content" > 
			<table class="materias table-hover" id="tablaMaterias">
				<tbody>
					<tr>
						<td>Algoritmos y Programaci&oacute;n</td>
						<td style="width:30px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Introducci&oacute;n a la Inform&aacute;tica</td>
						<td style="width:30px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Estructura de Datos</td>
						<td style="width:30px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Estructura de Datos</td>
						<td style="width:30px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Estructura de Datos</td>
						<td style="width:30px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Estructura de Datos</td>
						<td style="width:30px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Estructura de Datos</td>
						<td style="width:30px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Estructura de Datos</td>
						<td style="width:30px;"> 				
							<button id="eliminarMateria" type="submit" class="btn btn-mini" style="margin-left:5px;float:right;">
								<i class="icon-eye-open" id="eliminarMateria"></i>
							</button>
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}	

{% block script %}   
	<script src="{% static "js/horario.js" %}"></script>
	<script src="{% static "js/jquery.showLoading.min.js" %}"></script>
	<script src="{% static "js/nanoScroller.js" %}"></script>
{% endblock %}