<!DOCTYPE html>
<html lang="en">
  
  <!--Head -->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"    rel="stylesheet">  

    <link href="css/accordion.css" rel="stylesheet"></link >
  </head>
  <!--Head -->
 
 <!--Body--> 
<body>

  <!--Container-->
  <div class="container">

      <!-- Barra Superior-->
      <div class="navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">

            <div class="container-fluid pull-left">
              <label>
                Jefe de Departamento: Nombre Apellido
              </label>
              <label>
                Nombre de centro
              </label>
            </div>

            <div class="container-fluid pull-right">
              <div class="btn-group">
                <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
                  Opciones
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">
                      Cambiar Rol
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a data-toggle="modal" href="#MyModal">
                      Cerrar sesión
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /btn-group -->
            </div>
          </div>
        </div>
      </div>
      <!-- Barra Superior-->
      
      <div class="container" style="margin-top: 150px;">
        <div class="container-fluid">
          
          <!--Span2 . Menu Izquierdo-->
          <div class="span2">
          
            <ul class="nav nav-pills nav-stacked">

              <li >
                <a href="#"><i class="icon-home">
                  </i> Principal</a>
              </li>

              <li>
                <a href=""><i class="icon-edit"></i>&nbsp;Editar Perfil</a>
              </li>

              <li>
                <a href="#"><i class="icon-calendar"></i>&nbsp;Horario de Solicitudes</a>
              </li>

              <li class="active">
                <a href="#"><i class="icon-download-alt"></i>&nbsp;Exportar Planificacion</a>
              </li>

            </ul>          
          </div>
          <!--Span2-->

          
          <div class="span3" style="padding-left:100px; width:60%;">

            <span class="tittleLabel">Planificaciones Disponibles</span>

          </br></br>
            <table class="table table-hover">          
              <thead>
                <tr>
                  <th id="color">
                    Semestre
                  </th>
                  <th id="color">
                    Creador
                  </th>
                  <th>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    Planificación docente I-2013
                  </td>
                  <td>
                    Nombre Apellido
                  </td>
                  <td>
                    
                    <a href="https://www.dropbox.com/s/bf74h5bq8skyscu/Programacion%20Docente%20Tentativa%201-2013_v1.0.pdf">
                    <button id="exportar" type="submit" class="btn btn-mini" style="margin-left:50px">
                      <i class="icon-download-alt" id="descargar">
                      </i>                      
                    </button></a>

                    <button id="editar" type="submit" class="btn btn-mini" style="margin-left:50px"><i class="icon-edit"></i></button>                   
                  </td>
                </tr>
                <tr>
                  <td>
                    Planificación docente II-2012
                  </td>
                  <td>
                    Nombre Apellido
                  </td>
                  <td>
                   <a href="https://www.dropbox.com/s/bf74h5bq8skyscu/Programacion%20Docente%20Tentativa%201-2013_v1.0.pdf">
                      <button id="exportar" type="submit" class="btn btn-mini" style="margin-left:50px">
                        <i class="icon-download-alt" id="descargar">
                        </i>                      
                    </button></a>

                    <button id="editar" type="submit" class="btn btn-mini" style="margin-left:50px"><i class="icon-edit"></i></button>                    
                  </td>
                </tr>
                <tr>
                  <td>
                    Planificación docente I-2012
                  </td>
                  <td>
                    Nombre Apellido
                  </td>
                  <td>
                 <a href="https://www.dropbox.com/s/bf74h5bq8skyscu/Programacion%20Docente%20Tentativa%201-2013_v1.0.pdf">
                    <button id="exportar" type="submit" class="btn btn-mini" style="margin-left:50px">
                      <i class="icon-download-alt" id="descargar">
                      </i>                      
                    </button></a>

                    <button id="editar" type="submit" class="btn btn-mini" style="margin-left:50px"><i class="icon-edit"></i></button>

                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    Planificación docente II-2011
                  </td>
                  <td>
                    Nombre Apellido
                  </td>
                  <td>
                 <a href="https://www.dropbox.com/s/bf74h5bq8skyscu/Programacion%20Docente%20Tentativa%201-2013_v1.0.pdf">
                    <button id="exportar" type="submit" class="btn btn-mini" style="margin-left:50px">
                      <i class="icon-download-alt" id="descargar">
                      </i>                      
                    </button></a>

                    <button id="editar" type="submit" class="btn btn-mini" style="margin-left:50px"><i class="icon-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>
                    Planificación docente I-2011
                  </td>
                  <td>
                    Nombre Apellido
                  </td>
                  <td>
                 <a href="https://www.dropbox.com/s/bf74h5bq8skyscu/Programacion%20Docente%20Tentativa%201-2013_v1.0.pdf">
                    <button id="exportar" type="submit" class="btn btn-mini" style="margin-left:50px">
                      <i class="icon-download-alt" id="descargar">
                      </i>                      
                    </button></a>

                    <button id="editar" type="submit" class="btn btn-mini" style="margin-left:50px"><i class="icon-edit"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>          

          <div id="indices" class="pagination pagination-centered">
              <ul>
                <li>
                  <a href="#">
                    Prev
                  </a>
                </li>
                <li>
                  <a href="#">
                    1
                  </a>
                </li>
                <li>
                  <a href="#">
                    2
                  </a>
                </li>
                <li>
                  <a href="#">
                    3
                  </a>
                </li>
                <li>
                  <a href="#">
                    Next
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--container-fliud-->
      </div>
      <!--container-->
  </div>


        <!--Modal Opciones-->
        <div id="MyModal" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              ×
            </button>
            <h3>
              Cerrar sesión
            </h3>
          </div>
          <div class="modal-body">
            <p>
              ¿Está seguro que desea salir de la aplicación?
            </p>
          </div>
          <div class="modal-footer">
            <a button="" class="btn" data-dismiss="modal" aria-hidden="true">
            Cancelar
          </a>
            <a button="" class="btn btn-primary">
            Salir
          </a>
          </div>
        </div>
        <!--Modal Opciones-->

      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </body>
 
</html>