{% extends "Plantilla.html" %}
{% load staticfiles %}

{% block rol%}Jefe(a) de Departamento{% endblock %}

{% block nombre %}{{usuario}}{% endblock %}

{% block centro %}{{centro}}{% endblock %}

{% block lista_roles %}
<a href="/profile">Profesor(a)</a>
<a href="/profilecc">Coordinador(a)</a>
{% endblock %}


{% block op_barra %}
<li class="active">
  <a href="/profilejdd"><i class="icon-home">
    </i> Principal</a>
</li>

<li>
  <a href="/editarperfil/jdd/{{pk}}"><i class="icon-edit"></i>&nbsp;Editar Perfil</a>
</li>

<li>
  <a href="/horario/jdd"><i class="icon-calendar"></i>&nbsp;Horario de Solicitudes</a>
</li>

<li>
  <a href="/export"><i class="icon-download-alt"></i>&nbsp;Exportar Planificacion</a>
</li>
<li>
    <a href="/cambiarContrasena/jdd/{{pk}}"><i class="icon-repeat"></i> Cambiar Contraseña</a>
</li>
{% endblock %}

{% block contenido_vista %}
<link rel="stylesheet" href="{% static "css/accordion.css" %}" type="text/css" />
<div class="tittleLabel">Listado de Centros</div>
{{html|safe}}   

{% endblock %}

{% block scripts %}
      <script src="{% static "js/toggle_email_scripts.js" %}"></script>  
{% endblock %}