<!DOCTYPE html>
<html lang="en">
  
  <!--Head -->
  <head>
    <meta charset="utf-8">

    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"    rel="stylesheet">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="css/accordion.css" type="text/css" /> 

  </head>
  <!--Head -->
 
 <!--Body--> 
<body>

  <!--Container-->
  <div class="container">

      <!-- Barra Superior-->
      <div class="navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">

            <div class="container-fluid pull-left">
              <label>
                Jefe de Departamento: Nombre Apellido
              </label>
              <label>
                Nombre de centro
              </label>
            </div>

            <div class="container-fluid pull-right">
              <div class="btn-group">
                <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
                  Opciones
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">
                      Cambiar Rol
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a data-toggle="modal" href="#MyModal">
                      Cerrar sesión
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /btn-group -->
            </div>
          </div>
        </div>
      </div>
      <!-- Barra Superior-->
      
      <div class="container" style="margin-top: 150px;">
        <div class="container-fluid">
          
          <!--Span2 . Menu Izquierdo-->
          <div class="span2">
          
            <ul class="nav nav-pills nav-stacked">

              <li class="active">
                <a href="#"><i class="icon-home">
                  </i> Principal</a>
              </li>

              <li>
                <a href="screen-2153bd5760.html"><i class="icon-edit"></i>&nbsp;Editar Perfil</a>
              </li>

              <li>
                <a href="#"><i class="icon-calendar"></i>&nbsp;Horario de Solicitudes</a>
              </li>

              <li>
                <a href="#"><i class="icon-download-alt"></i>&nbsp;Exportar Planificacion</a>
              </li>
            </ul>          
          </div>
          <!--Span2-->

          <!--Span3. Acordion -->
          <div class="span3" style="padding-left:300px;">

            <span class="tittleLabel">Listado de Centros</span>

              <div class="acordionCentros" style="float:right; min-width:400px;">
                <div class="accordion" id="accordion2">
                  <div class="accordion-group">
                    
                    <div class="accordion-heading" >
                      
                      <div class="pull-right custom-align">
                      <input type="checkbox" name="cicoreCheck" onClick="toggle(this)" value="none"> Todos</div>

                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-toggle="false" href="#1">
                        CICORE
                      </a>

                    </div>
                    <div id="1" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="tableCICORE">
                            <table>
                              <tbody>
                              <thead>
                                <tr>
                                  <td><h5>Profesores</h5><td>
                                <tr>
                              </thead>
                              <tr>
                                  <td>
                                    <input type="checkbox" name="cicoreCheck" value="example1@domain.com">

                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                    <input type="checkbox" name="cicoreCheck" value="example2@domain.com">

                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                    <input type="checkbox" name="cicoreCheck" value="example3@domain.com">

                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-group">
                    <div class="accordion-heading">

                     <div class="pull-right custom-align">
                      <input type="checkbox" name="ccctCheck" onClick="toggle(this)" value="none"> Todos</div>

                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-toggle="false" href="#2">
                        CCCT
                      </a>
                    </div>
                    <div id="2" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="tableCCCT">
                            <table>
                              <tbody>
                              <thead>
                                <tr>
                                  <td><h5>Profesores</h5><td>
                                <tr>
                              </thead>
                              <tr>
                                  <td>
                                    <input type="checkbox" name="ccctCheck" value="example4@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                    <input type="checkbox" name="ccctCheck" value="example5@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                    <input type="checkbox" name="ccctCheck" value="example6@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-group">
                    <div class="accordion-heading">

                     <div class="pull-right custom-align">
                      <input type="checkbox" name="ccgCheck" onClick="toggle(this)" value="none"> Todos</div>

                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-toggle="false" href="#3">
                        CCG
                      </a>
                    </div>
                    <div id="3" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="tableCCG">
                            <table>
                              <tbody>
                              <thead>
                                <tr>
                                  <td><h5>Profesores</h5><td>
                                <tr>
                              </thead>
                              <tr>
                                  <td>
                                    <input type="checkbox" name="ccgCheck" value="example7@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                   <td>
                                    <input type="checkbox" name="ccgCheck" value="example8@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                    <input type="checkbox" name="ccgCheck" value="example9@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-group">
                    <div class="accordion-heading">

                     <div class="pull-right custom-align">
                      <input type="checkbox" name="isysCheck" onClick="toggle(this)" value="none"> Todos</div>

                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-toggle="false" href="#4">
                        ISYS
                      </a>
                    </div>
                    <div id="4" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="tableISYS">
                            <table>
                              <tbody>
                              <thead>
                                <tr>
                                  <td><h5>Profesores</h5><td>
                                <tr>
                              </thead>
                              <tr>
                                  <td>
                                    <input type="checkbox" name="isysCheck" value="example10@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                  <input type="checkbox" name="isysCheck" value="example11@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                  <input type="checkbox" name="isysCheck" value="example12@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-group">
                    <div class="accordion-heading">

                     <div class="pull-right custom-align">
                      <input type="checkbox" name="ccpdCheck" onClick="toggle(this)" value="none"> Todos</div>

                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-toggle="false" href="#5">
                        CCPD
                      </a>
                    </div>
                    <div id="5" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="tableCCPD">
                            <table>
                              <tbody>
                              <thead>
                                <tr>
                                  <td><h5>Profesores</h5><td>
                                <tr>
                              </thead>
                              <tr>
                                  <td>
                                  <input type="checkbox" name="ccpdCheck" value="example13@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                  <input type="checkbox" name="ccpdCheck" value="example14@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                  <input type="checkbox" name="ccpdCheck" value="example15@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-group">
                    <div class="accordion-heading">

                     <div class="pull-right custom-align">
                      <input type="checkbox" name="cisiCheck" onClick="toggle(this)" value="none"> Todos</div>

                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-toggle="false" href="#6">
                        CISI
                      </a>
                    </div>
                    <div id="6" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="tableCISI">
                            <table>
                              <tbody>
                              <thead>
                                <tr>
                                  <td><h5>Profesores</h5><td>
                                <tr>
                              </thead>
                              <tr>
                                  <td>
                                  <input type="checkbox" name="cisiCheck" value="example16@domain.com">
                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                  <td>
                                     <input type="checkbox" name="cisiCheck" value="example17@domain.com">

                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                              <tr>
                                 <td>
                                     <input type="checkbox" name="cisiCheck" value="example18@domain.com">

                                    <a data-toggle="modal" href="#modalPerfil">
                                    Teacher's Name
                                    </a>
                                 </td>
                              <tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <button onclick="isAnyCheckSelected(this)" class="btn btn-primary" type="button" style="float:right;"><i class="icon-envelope icon-white"></i> Contactar Seleccionados</button> 
 
            </div>
            <!-- Span3. Acordion-->

          </div>
          <!--container-fliud-->
      </div>
      <!--container-->
  </div>


        <!--Modal Opciones-->
        <div id="MyModal" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              ×
            </button>
            <h3>
              Cerrar sesión
            </h3>
          </div>
          <div class="modal-body">
            <p>
              ¿Está seguro que desea salir de la aplicación?
            </p>
          </div>
          <div class="modal-footer">
            <a button="" class="btn" data-dismiss="modal" aria-hidden="true">
            Cancelar
          </a>
            <a button="" class="btn btn-primary">
            Salir
          </a>
          </div>
        </div>
        <!--Modal Opciones-->



        <!--Modal Perfil-->
        <div id="modalPerfil" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              ×
            </button>
            <h3>
              Información de Perfil
            </h3>
          </div>

          <div class="modal-body">
            <p>
                <h5>Cedula: </h5><p></p>
                <h5>Nombre: </h5><p></p>
                <h5>Apellido: </h5><p></p>
                <h5>Correo electronico: </h5><p></p>
                <h5>Telefono Celular: </h5><p></p>
                <h5>Telefono Oficina: </h5><p></p>
                <h5>Telefono Casa: </h5><p></p>
                <h5>Fecha ingreso: </h5><p></p>
                <h5>Direccion: </h5><textarea readonly></textarea>
                <h5>Tipo contrato: </h5><p></p>
                <h5>Dedicacion: </h5><p></p>
            </p>
          </div>

          <div class="modal-footer">
             <a button="" class="btn btn-primary" data-dismiss="modal">
              Salir
            </a>
          </div>

        </div>
        <!--Modal Perfil-->

        <!--Modal Contactar-->
        <div id="modalContacto" class="modal hide fade">
          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              ×
            </button>
            <h3>
              Contactar
            </h3>
          </div>

          <div class="modal-body">
                <div id="destinatarios">
                  <p><b>Para</b></p>
                   <input type="text" id="to"></input>
                </div> 

                <hr>
                <div id="asunto">
                  <p><b>Asunto</b></p>
                  <input type="text" id="matter"></input>                 
                </div>

                <hr>

                <div id="contenido" >
                  <textarea style="width:90%;heigth:90%;" id="content"></textarea>         
                </div> 
          </div>

          <div class="modal-footer">

            <button class="btn btn-success" type="button">
              Enviar
            </button>

            <button class="btn btn-danger" data-dismiss="modal">
              Cancelar
            </button>

          </div>
        </div>

        <!--Modal Contactar--> 


      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
      <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

      <script src="js/toggle_email_scripts.js"></script>   
  </body>
 
</html>