{% extends 'Plantilla.html' %}
{% load staticfiles %}

{% block rol%}Jefe(a) de Departamento:{% endblock %}

{% block nombre %}{{usuario}}{% endblock %}

{% block centro %}{{centro}}{% endblock %}

{% block lista_roles %}
<a href="/profile">Profesor(a)</a>
<a href="/profilecc">Coordinador(a)</a>
{% endblock %}

{% block op_barra %}
<li >
  <a href="/profilejdd"><i class="icon-home">
    </i> Principal</a>
</li>

<li class="active">
  <a href="/editarperfil/jdd/{{pk}}"><i class="icon-edit"></i>&nbsp;Editar Perfil</a>
</li>

<li>
  <a href="/horario/jdd"><i class="icon-calendar"></i>&nbsp;Horario de Solicitudes</a>
</li>

<li>
  <a href="/export"><i class="icon-download-alt"></i>&nbsp;Exportar Planificacion</a>
</li>
{% endblock %}


{% block contenido_vista %}

<form method='POST'>
	{% csrf_token %}
	<table>
	{{ form.as_p}}
	</table>
	</br>
    <input class="btn btn-primary" type="submit" value="Terminar Edicion" />
</form>
{% if error %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>¡Error!</h4>
    {{error}}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static "js/hidePassword.js" %}"></script>
{% endblock %}