{% extends "Plantilla.html" %}

{% block op_barra %}
{% endblock %}

{% block contenido_vista %}
	<h3>Crear Materia</h3>
	<br>
	<br>
    <form id="crearMateriaForm" action="login" method="GET">
		
		<div class="control-group">
			<table>
				<tr>
					<td> Codigo de la Materia: </td>
					<td> <div class="controls"><input id="materia_id" type="text" name="materia_id"> <br> </div> </td>
				</tr>
				<tr>
					<td> Nombre: </td>
					<td> <div class="controls"> <input id="nombre" type="text" name="nombre"> <br> </div> </td>
				</tr>
				<tr>
					<td> Tipo de Materia: </td>
					<!-- <td> <div class="controls"> <input id="tipo_materia" type="text" name="tipo_materia"> <br> </div> </td> -->
					<td> <div class="controls">
							<select>
								<option value="t0">
									Obligatoria
								</option>
								<option value="t1">
									Electiva Obligatoria
								</option>
								<option value="t2">
									Electiva 
								</option>
								<option value="t1">
									Complementaria
								</option>
							</select>
						</div>
					</td>

				</tr>
				<tr>
					<td> Unidades de Credito de Teoria:	</td>
					<td> <div class="controls"> <input id="unidades_credito_teoria" type="text" name="unidades_credito_teoria"> <br> </div>	</td>
				</tr>
				<tr>
					<td> Unidades de Credito de Practica: </td>
					<td> <div class="controls"> <input id="unidades_credito_practica" type="text" name="unidades_credito_practica"> <br> </div>	</td>
				</tr>
				<tr>
					<td> Unidades de Credito de Laboratorio: </td>
					<td> <div class="controls"> <input id="unidades_credito_laboratorio" type="text" name="unidades_credito_laboratorio"> <br> </div> </td>
				</tr>
				<tr>
					<td> Estatus: </td>
					<td> <div class="controls"> <input id="estatus" type="text" name="estatus"> <br> </div>	</td>
				</tr>
				<tr>
					<td>Semestre al que pertenece: </td>
					<td> <div class="controls"> <input id="semestre" type="text" name="semestre"> <br> </div> </td>
				</tr>
				<tr>
					<td> Centro al que pertenece: </td>
					<!-- <td> <div class="controls"> <input id="centro" type="text" name="centro"> <br> </div> </td> -->
					<td> <div class="controls">
							<select>
								<option value="c0">
									CCPD
								</option>
								<option value="c1">
									CICORE
								</option>
								<option value="c2">
									CCCT 
								</option>
								<option value="c3">
									ISYS
								</option>
								<option value="c4">
									CISI
								</option>
								<option value="c5">
									CCG
								</option>
								<option value="c6">
									IOMA
								</option>
								<option value="c7">
									CENEAC
								</option>
							</select>
						</div>
					</td>
				</tr>
			</table>
		</div>				
		<button type="submit" class="btn btn-primary">
			Guardar
		</button>
		<button class="btn btn-primary" href="#">
			Cancelar
		</button>
	</form>
{% endblock %}	


