{% extends "Perfil.html" %}

{% block rol%}Profesor(a):{% endblock %}

{% block nombre %}{{usuario}}{% endblock %}

{% block centro %}{{centro}}{% endblock %}

{% block lista_roles %}
<a href="/horario">Coordinador(a)</a>
<a href="/horario">Jefe(a) de Departamento</a>
{% endblock %}

{% block op_barra %}
	<li>
		<a href="/profile"><i class="icon-home"></i> Principal</a>
	</li>
	<li class="active">
		<a href="Perfil_Prof.html"><i class="icon-user"></i> Información de perfil</a>
	</li>
{% endblock %}

{% block contenido_vista %}
{% endblock %}				