
{% extends "Plantilla.html" %}
{% load staticfiles %}

{% block rol%}Profesor(a){% endblock %}

{% block nombre %}{{usuario}}{% endblock %}

{% block centro %}{{centro}}{% endblock %}

{% block lista_roles %}
<a href="/profilecc">Coordinador(a)</a>
<a href="/profilejdd">Jefe(a) de Departamento</a>
{% endblock %}

{% block op_barra %}
<li class="active">
    <a href="/profile"><i class="icon-home"></i> Principal</a>
</li>
<li>
    <a href="/editarperfil/p/{{pk}}"><i class="icon-edit"></i>Editar perfil</a>
</li>
<li>
    <a href="Perfil_Prof.html"><i class="icon-repeat"></i> Olvidar Contraseña</a>
</li>
{% endblock %}

{% block contenido_vista %}
<div class="container">
    <div class="span9">
        <table class="table table-hover" id="propuestam">
            <thead>
            <tr>
                <th>
                    <label class="tablehc" >Materia</label>
                </th>
                <th>
                    <label class="tablehc" >Horario</label>
                </th>
                <th>
                    <label class="tablehc" >Estado</label>
                </th>
                <th>
                    <label class="tablehc" >Acciones</label>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for h in listaHorarios %}
            <tr>
                <td>{{h.horario_solicitado.materia.materia.nombre}}</td>
                <td>{{h.dia_semana}} {{h.hora_inicio}}-{{h.hora_fin}}</td>
                <td>
                    {% if h.horario_solicitado.estatus == 'A' %}
                    <span class="label label-success">Aceptada</span>
                    {% else %}
                    {% if h.horario_solicitado.estatus == 'R' %}
                    <span class="label label-important">Rechazada</span>
                    {% else %}
                    {% if h.horario_solicitado.estatus == 'P' %}
                    <span class="label label-warning">Procesando</span>
                    {% else %}
                    {% if h.horario_solicitado.estatus == 'N' %}
                    <span class="label label-info">No enviada</span>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </td>
                <td>
                    <a value="{{h.pk}}" data-toggle="modal" href="#confir_borrar" class="btn btn-mini bot_borrar" style="margin-left:50px" title="Eliminar horario solicitado"><i class="icon-trash"></i></a>
                    <a href="/propuesta/editar/{{h.pk}}" class="btn btn-mini" style="margin-left:50px" title="Editar horario solicitado"><i class="icon-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span9">
        {% if info %}
        <div class="alert alert-success" style="width:70%" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{info}}
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-error" style="width:70%" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{error}}
        </div>
        {% endif %}

        <button class="btn btn-warning" data-toggle="modal" href="#agregarMateria" title="Añade una materia Obligatoria, Obligatoria Optativa o Laboratorio">
            Agregar materia obligatoria
        </button>
        <button class="btn btn-warning" data-toggle="modal" title="Añade una materia Electiva o Complementaria">
            Agregar materia electiva
        </button>
        <br>
        <br>
        <button class="btn btn-warning" id="ep" data-toggle="modal" href="#confir_ep" title="Envía la propuesta al Coordinador de Centro">
            Enviar Propuesta
        </button>
        <br>
        <br>
    </div>

    <div id="agregarMateria" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3>
                Agregar materia a la propuesta
            </h3>
        </div>
        <div id="agregarMat_mb" class="modal-body">
            <div id="pg_am" class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
            <form action="/profile" id="agregarMat" method="POST">{% csrf_token %}
                <div id="cg" class="control-group">
                    <input name="cantidad_hor" id="cantidad_hor" hidden="true" />
                    {{form}}
                </div>
            </form>
            <a id="agregarHor" class="btn btn-mini"><i class="icon-plus"></i>Agregar otro horario</a>
        </div>
        <div class="modal-footer">
            <a button="" id="salir_am" type="reset" class="btn" data-dismiss="modal" aria-hidden="true" form="#agregarMat" >Cancelar</a>
            <input id="enviar_am" form="agregarMat" class="btn btn-primary" type="submit" disabled="true" value="Guardar materia" />
        </div>
    </div>

    <div id="mostrarPerfil" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3> Datos de Perfil
            </h3>
        </div>
        <div id="mostrarPerfil_mb" class="modal-body">

            Telefono Celular:
            <br>
            Telefono Oficina:
            <br>
            Telefono Casa:
            <br>
            Fecha ingreso:
            <br>
            Direccion:
            <br>
        </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" href="/perfil/editar">
            Editar Perfil
            </button>
            -->
            <a button="" id="salir_am" type="reset" class="btn" data-dismiss="modal" aria-hidden="true" form="" >Cancelar</a>
            <a button="" class="btn btn-primary" id="edit" type="" class="btn" href="perfil/editar" >Editar perfil</a>
        </div>
    </div>

    <div id="confir_ep" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3>
                Enviar propuesta
            </h3>
        </div>
        <div class="modal-body">
            <p>
                ¿Está seguro que desea enviar la propuesta al Coordinador de Centro?
        </div>
        <div class="modal-footer">

            <a button="" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>

            <a button="" class="btn btn-primary"  href="#">Enviar</a>

        </div>
    </div>

    <div id="confir_borrar" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3>
                Borrar horario propuesto
            </h3>
        </div>
        <div class="modal-body">
            <p>
                ¿Está seguro que desea borrar el horario propuesto?
        </div>
        <div class="modal-footer">

            <a button="" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>

            <a id="bborrar" button="" class="btn btn-primary"  href="">Borrar</a>

        </div>
    </div>

</div>

<style>
    th{
        width: 5%;
        height: 25px;
        color: white;
        background-color: #006dcc;
        background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
        background-image:-o-linear-gradient(top, #0088cc, #0044cc);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#0088cc', EndColorStr='#0044cc');
        border: 1px solid #E0E0E0;
        text-align: center;
        vertical-align: middle!important;
    }

    .statusl{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        vertical-align: middle!important;

    }

    .tablehc{
        text-align: center;
        vertical-align: middle!important;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="{% static "js/script_profesor.js" %}">
</script>
{% endblock %}