{% extends "Plantilla.html" %}
{% load staticfiles %}

{% block rol%}Administrador{% endblock %}

{% block nombre %} [Sitio Administrativo] {% endblock %}


{% block op_barra %}
<li {% if opc == 1 %} class="active" {% endif %}>
    <a href="/admins"><i class="icon-home"></i> Principal</a>
</li>
<li {% if opc > 1 %} class="active" {% endif %}>
    <a href="/admins/modelos"><i class="icon-pencil" id="Crear"></i> Datos</a>
</li>
{% endblock %}

{% block contenido_vista %}
<!--<div class="container">-->
    {% if opc == 1%}
    {% endif %}
    {% if opc == 2%}
        {% for m in modelos %}
        <a href="/admins/modelos/{{m.nombre}}"><b>{{m.nombre | title }}</b><a><br/>
        <br/>
        {% endfor %}
    {% endif %}
    {% if opc == 3%}		
		<table class="table table-hover">
		<thead>
			<tr>
				<th>
					{{ modelo|title }}
				</th>
				<th>
					Acciones
					<!-- Creador -->
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			{% if lista %}
				{% for elem in lista %}
				<tr>
				  <td><strong>{{elem.toString}}</strong></td>
				  <td> 	
					<a href="/admins/modelos/{{modelo}}/{{elem.pk}}" class="btn btn-mini" style="modelosargin-left:50px">
						<i class="icon-tasks"></i>
					</a>
					<a href="/admins/modelos/{{modelo}}/editar/{{elem.pk}}" class="btn btn-mini" style="margin-left:50px">
						<i class="icon-edit"></i>
					</a>
						
					<a class="btn btn-mini" style="margin-left:50px" onclick='Mostrar_modal_eliminar(this)'
					id = "/admins/modelos/{{modelo}}/borrar/{{elem.pk}}"
					name="{{ modelo }}">
						<i class="icon-trash"></i>
					</a>

				  </td>
				</tr>

				{% endfor %}
			{%endif%}
		</tbody>

	</table>
	<div id="indices" class="pagination pagination-right" style="aling:center">
		<ul>
			<li>
				<a href="#">Prev</a>
			</li>
			<li>
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">Next</a>
			</li>
		</ul>
	</div>
	<a class="btn btn-primary" href="/admins/modelos/{{modelo}}/crear">
		Agregar {{ modelo|title }}
	</a>
			
    {% endif %}
    {% if opc == 4%}
    <h2>{{ modelo|title }}</h2>
    <br>
    {{objeto}}
    <br>
    {% endif %}

<!--</div>-->
{% endblock %}

{% block scripts %}
<script src="{% static "js/Confirmar_eliminar.js"%}"></script>
{% endblock %}
		

