{% extends "Base.html"%}
{% load staticfiles %}

{% block todo_cont %}

    <div class="container">
        <div class="navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container">
    				<div class="container-fluid">
                        <h3>Cambio de Contraseña</h3>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

	<div id='inner'>
	
	    <form method="POST">
            </br>
            
            <label style="padding-left:30px;font-size:small;">
                <font color="#4380D3"><b>Formulario de Restauración</b></font>
            </label>
	    	
            </br>

			<div class="control-group" style="padding-left:30px;">
			{% csrf_token %} 
			<b>
				{{form.as_p}}
			</b>
			</div>
			</br>
            
            <div id="alertErrorDiv">
			{% if err == 1 %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>¡Error!</h4>
                Las Contaseñas no coinciden.
            </div>
            {% endif %}
            </div>

			<div id="button-id" style="padding-right:30px;padding-top:5px;">
				<button type="submit" class="btn btn-primary pull-right" >
					Submit
				</button>
			</div>
		  </br></br>
		</form>
	</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/emptySetter.js" %}"></script>
{% endblock %}

{% block estilo %}
    <style>
        #foot{
            border-bottom:2px solid #4380D3;
            border-top:2px solid #4380D3;
        }

        #inner {
			width:400px;
			height:auto;
    		display: table;
    		margin:5% auto auto auto;
    		background:#FFFFFF;    		
    		border-radius:10px;
    		-webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
			-moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
			box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;    	}
		
	</style>
{% endblock %}
