{% extends "Base.html"%}
{% block todo_cont %}
    <div class="container">
        <div class="navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container">
    				<div class="container-fluid">
    					<h3>Un momento!!! Algo no esta bien...</h3>		 		
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

	<div id='inner'>
			</br>	
	    	<center>
			<div  id="instructions" style="font-size:small;background-color:#FFC6C6; display: block;height:auto;align:justify;">
				<p align="center">
				<b>Alerta!!!</b></br>{{notes|safe}}
				</p>
			</div>
			</br>
			</center>

			<div id="button-id" style="padding-right:30px;padding-top:5px;">
				<a href="/login">
					<button type="button" class="btn btn-danger pull-right">
						Volver
					</button>
				</a>
			</div>
		</br></br>
	</div>
{% endblock %}

{% block estilo %}
    <style>
        #foot{
            border-bottom:2px solid #4380D3;
            border-top:2px solid #4380D3;
        }

        #inner {
			width:400px;
			height:auto;
    		display: table;
    		margin:5% auto auto auto;
    		background:#FFFFFF;    		
    		border-radius:10px;
    		-webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
			-moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
			box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;    	}
		
	</style>
{% endblock %}
