{% extends "Base.html"%}
{% block todo_cont %}

    <div class="container">
        <div class="navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container">
    				<div class="container-fluid">
                        <h3>Cambio de Contraseña</h3>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

	<div id='inner'>
	
	    <form method="POST">
	    	</br>
			<div class="control-group" style="padding-left:30px;">
			{% csrf_token %} 
			<b>
				{{form.as_p}}
			</b>
			</div>
			</br>

			<center>
			<div  id="instructions" style="font-size:small;background-color:#E1FFE1; display: block;width:350px;height:auto;align:justify;">
				<p align="justify">
				<b>Nota:</b></br>{{notes}}
				</p>
			</div>
			</br>
			</center>


			<div id="button-id" style="padding-right:30px;padding-top:5px;">
				<button type="submit" class="btn btn-primary pull-right">
					Submit
				</button>
			</div>
		</br>
		</form>
	</div>
{% endblock %}

{% block estilo %}
    <style>
        #foot{
            border-bottom:2px solid #4380D3;
            border-top:2px solid #4380D3;
        }

        #inner {
			width:400px;
			height:auto;
    		display: table;
    		margin:5% auto auto auto;
    		background:#FFFFFF;    		
    		border-radius:10px;
    		-webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
			-moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
			box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;    	}
		
	</style>
{% endblock %}
